mixin radio-button(options = {})
  -
    const {
      text = '',
      value = false,
      name = false,
      checked = false,
    } = options;

  label.radio-button.js-radio-button
    input(
      class='radio-button__input'
      type='radio',
      name=name,
      value=value,
      checked=checked,
    )
    .radio-button__text #{text}
